---
import Admin from '@components/Admin.astro'
import LineCard from '@components/Linecard'
import ProductForm from '@components/ProductForm'
import { getProductById, getProductsByCategory, getProductsBySection, supabase } from 'src/utils/supabase'

const cookies = Astro.request.headers.get('cookie')

const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('sup-access-token='))
  ?.split('=')[1]

if (!token) return Astro.redirect('/admin/login')

const { data: user } = await supabase.auth.api.getUser(token)

if (user?.aud !== 'authenticated') return Astro.redirect('/admin/login')

const { productId } = Astro.params

const product = await getProductById({ productId: Number(productId) })
const products = product.categoryId
  ? await getProductsByCategory({ categoryId: product.categoryId })
  : await getProductsBySection({ sectionId: product.sectionId })
console.log({ product, products })
---

<Admin user={user}>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col">
      <h1>{product.name}</h1>
    </div>

    <LineCard client:visible label="Datos categoría">
      <ProductForm client:visible product={product} products={products} defaultOpen />
    </LineCard>
  </div>
</Admin>
