---
import BackButton from '@components/admin/BackButton'
import LogoutButton from '@components/admin/LogoutButton'
import AdminLayout from '@layouts/AdminLayout.astro'

const { user } = Astro.props
---

<AdminLayout title="Admin">
  <div class="flex flex-col" id="logged-container">
    {
      user && (
        <div class="flex justify-between items-center gap-2 pt-2 pb-10 px-2">
          <BackButton client:visible />
          <LogoutButton client:visible />
        </div>
      )
    }

    <slot />
  </div>
</AdminLayout>
