---
import Allergen from '@components/app/Allergen'

import type { ALLERGENS } from '../../types'

export interface Props {
  allergens: ALLERGENS[]
}

const { allergens } = Astro.props
---

<div class="flex flex-row gap-2">
  {allergens.sort((a, b) => a.localeCompare(b)).map((allergen) => <Allergen client:load allergen={allergen} />)}
</div>
