<footer class="text-xs text-center py-4 text-white">
  <div class="w-fit m-auto opacity-90 flex flex-col">
    <span class="font-semibold">Rúa Amado Carballo 2, 32005, Ourense</span>
    <a href="tel:988 61 45 04">988 61 45 04</a>
  </div>
</footer>
