<footer class="text-xs text-center py-4 text-white">
  <div class="w-fit m-auto opacity-90">
    <span class="font-semibold">Rúa das Laxas, 4, 32005, Ourense</span>
    <div class="w-full flex justify-between">
      <span>09:00 - 00:30</span>
      <a href="tel:988 61 45 04">988 61 45 04</a>
    </div>
  </div>
</footer>
