---
import ExtraServices from '@components/app/ExtraServices.astro'
import Products from '@components/app/Products.astro'
import { SectionSI } from 'src/types'
import { getProductsBySection } from 'src/utils/supabase'

export interface Props {
  section: SectionSI
}

const {
  section: { id, title, extraServices }
} = Astro.props

const products = await getProductsBySection({ sectionId: id })
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-1">
    <h2 class="text-center">{title}</h2>
    {extraServices && <ExtraServices extraServices={extraServices} />}
  </div>

  <Products products={products} />
</div>
