---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Auriga gastrobar">
  <div class="h-full flex justify-center p-8">
    <img class="max-h-20 max-w-[70%] h-fit" src="/assets/images/auriga-logo.svg" alt="Auriga gastrobar logo" />
  </div>
</Layout>

<style>
  main {
    backdrop-filter: blur(4px);
  }
</style>
