---
import Admin from '@components/Admin.astro'
import LineCard from '@components/admin/LineCard'
import ButtonLink from '@components/ButtonLink.astro'
import ButtonLinksContainer from '@components/ButtonLinksContainer.astro'
import ZoneForm from '@components/ZoneForm'
import { getZones, supabase } from 'src/utils/supabase'

const cookies = Astro.request.headers.get('cookie')

const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('sup-access-token='))
  ?.split('=')[1]

if (!token) return Astro.redirect('/admin/login')

const { data: user } = await supabase.auth.api.getUser(token)
if (user?.aud !== 'authenticated') return Astro.redirect('/admin/login')

const zones = await getZones({ restaurantId: 1 })
---

<Admin user={user}>
  <div class="flex flex-col gap-6">
    <LineCard client:visible label="Zonas">
      <ButtonLinksContainer>
        {
          zones
            .sort((a, b) => a.name.localeCompare(b.name))
            .map((zone) => (
              <ButtonLink href={`/admin/zonas/${zone.slug}`}>
                <div class="flex flex-col gap-2">
                  <span>{zone.name}</span>
                  <span class="text-sm opacity-80">/{zone.slug}</span>
                </div>
              </ButtonLink>
            ))
        }
      </ButtonLinksContainer>
    </LineCard>

    <!-- <LineCard client:visible label="Nueva zona">
      <ZoneForm client:visible />
    </LineCard> -->
  </div>
</Admin>
