---
import Admin from '@components/Admin.astro'
import LineCard from '@components/admin/LineCard'
import ButtonLink from '@components/ButtonLink.astro'
import ButtonLinksContainer from '@components/ButtonLinksContainer.astro'
import { getCategories, supabase } from 'src/utils/supabase'

const cookies = Astro.request.headers.get('cookie')

const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('sup-access-token='))
  ?.split('=')[1]

if (!token) return Astro.redirect('/admin/login')

const { data: user } = await supabase.auth.api.getUser(token)
if (user?.aud !== 'authenticated') return Astro.redirect('/admin/login')

const categories = await getCategories()
---

<Admin user={user}>
  <div class="flex flex-col gap-6">
    <LineCard client:visible label="Categorías">
      <ButtonLinksContainer>
        {
          categories
            .sort((a, b) => a.buttonText.localeCompare(b.buttonText))
            .map((category) => (
              <ButtonLink href={`/admin/categorias/${category.slug}`}>
                <span>{category.buttonText}</span>

                <div class="text-sm text-gray-500 mt-2">
                  {category.zones
                    ?.sort((a, z) => a.zone.name.localeCompare(z.zone.name))
                    .map(({ zone }) => zone.name)
                    .join(', ')}
                </div>
              </ButtonLink>
            ))
        }
      </ButtonLinksContainer>
    </LineCard>

    <!-- <LineCard client:visible label="Añadir nueva categoría">
      <CategoryForm client:visible />
    </LineCard> -->
  </div>
</Admin>
