---
import LogoutButton from '@components/LogoutButton'
import AdminLayout from '@layouts/AdminLayout.astro'

import Divider from './Divider.astro'

const { user } = Astro.props
---

<AdminLayout title="Admin">
  <div class="flex flex-col" id="logged-container">
    {
      user && (
        <div>
          <div class="flex items-start flex-col gap-2">
            <LogoutButton client:visible />
          </div>

          <Divider theme="dark" />
        </div>
      )
    }

    <slot />
  </div>
</AdminLayout>
