---
import Allergen from '@components/Allergen'
import { translations } from 'src/locales/translations'

import type { ALLERGENS } from '../types'

export interface Props {
  allergens: ALLERGENS[]
}

const { allergens } = Astro.props
---

<div class="flex flex-row gap-2">
  {
    allergens
      .sort((a, b) => {
        return a.localeCompare(b)
      })
      .map((allergen) => {
        return <Allergen client:load allergen={allergen} text={translations.allergens[allergen]} />
      })
  }
</div>
