---
import type { CategoryI } from '../types'
import Category from './Category.astro'

export interface Props {
  categories: CategoryI[]
}

const { categories } = Astro.props
---

<div class="flex flex-col gap-8">
  {
    categories
      .sort((a, z) => {
        return a.order - z.order
      })
      .map((category) => {
        return <Category category={category} />
      })
  }
</div>
