---
export interface Props {
  label: string
}

const { label } = Astro.props
---

<div class="flex flex-col gap-4 items-center border p-2 border-dark-text/20 w-full relative py-5 rounded mt-2">
  <span class="absolute top-[-1rem] left-2 bg-light-text rounded py-1 px-2 text-sm">{label}</span>
  <slot />
</div>
