---
import type { Menu } from '../types'

export interface Props {
  menu: Menu
}

const {
  menu: { courses, extraServices, price }
} = Astro.props
---

<div class="flex flex-col gap-8">
  {
    courses.map((course) => {
      return (
        <div class="flex flex-col gap-2">
          <h2 class="text-center">{course.name}</h2>

          <div class="flex flex-col gap-2 items-center">
            {course.products.map((product) => (
              <p>{product}</p>
            ))}
          </div>
        </div>
      )
    })
  }

  <div class="flex flex-col gap-2 items-center">
    {
      extraServices.map((extraService) => {
        return <h4 class="text-center">{extraService}</h4>
      })
    }
  </div>

  <h2 class="text-center text-4xl">{price.toFixed(2)}€</h2>
</div>
