---
import { t } from 'i18next'

import { ProductI } from '../types'
import { Allergen } from './Allergen'

export interface Props {
  product: ProductI
}

const {
  product: { name, price, description, allergens }
} = Astro.props
---

<div class="flex justify-between items-center">
  <div class="flex flex-col pr-4 gap-2">
    <p>{name}</p>

    {description && <small class="text-dark-text/70">{description}</small>}

    <div class="flex flex-row gap-2">
      {
        allergens
          ?.sort((a, b) => a.localeCompare(b))
          .map((allergen) => <Allergen client:visible allergen={allergen} text={t(`allergens.${allergen}`)} />)
      }
    </div>
  </div>

  <p class="text-center">{typeof price === 'number' ? price.toFixed(2) : price}€</p>
</div>
