---
import ExtraServices from '@components/ExtraServices.astro'
import Products from '@components/Products.astro'
import { SectionSI } from 'src/typesSupabase'
import { getProductsBySection } from 'src/utils/supabase'

import type { SectionI } from '../types'

export interface Props {
  section: SectionSI
}

const {
  section: { id, title, extraServices }
} = Astro.props

const products = await getProductsBySection({ sectionId: id })
---

<div>
  <h2 class="text-center pb-2">{title}</h2>

  {extraServices && <ExtraServices extraServices={extraServices} />}

  <Products products={products} />
</div>
