---
import { ZoneI } from 'src/types'

import SectionLink from './SectionLink.astro'

export interface Props {
  zone: ZoneI
}

const { zone } = Astro.props
---

<div class="flex flex-col gap-4 items-center w-fit mx-auto">
  {zone.sections.sort((a, z) => a.order - z.order).map((section) => <SectionLink text={section.buttonText} link={`/restaurante/${section.id}`} />)}
</div>
