---
import Admin from '@components/Admin.astro'
import DetailSummaryContainer from '@components/admin/DetailSummaryContainer'
import LineCard from '@components/admin/LineCard'
import CourseForm from '@components/CourseForm'
import ProductForm from '@components/ProductForm'
import { getCourseById, getMenuById, getProductById, getProductsByCategory, getProductsBySection, supabase } from 'src/utils/supabase'

const cookies = Astro.request.headers.get('cookie')

const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('sup-access-token='))
  ?.split('=')[1]

if (!token) return Astro.redirect('/admin/login')

const { data: user } = await supabase.auth.api.getUser(token)

if (user?.aud !== 'authenticated') return Astro.redirect('/admin/login')

const { courseId } = Astro.params

const course = await getCourseById({ courseId: Number(courseId) })
const menu = await getMenuById({ menuId: course.menuId })
---

<Admin user={user}>
  <div class="flex flex-col gap-6">
    <DetailSummaryContainer title="Plato">
      <h3>{course.name}</h3>
    </DetailSummaryContainer>

    <LineCard client:visible label="Datos plato">
      <CourseForm client:visible menu={menu} course={course} />
    </LineCard>
  </div>
</Admin>
