---
import Admin from '@components/Admin.astro'
import ButtonLink from '@components/ButtonLink.astro'
import ButtonLinksContainer from '@components/ButtonLinksContainer.astro'
import Divider from '@components/Divider.astro'
import { RESTAURANT } from 'src/mock/auriga'

enum SECTIONS {
  ZONAS = 'zonas',
  CATEGORIAS = 'categorias',
  PRODUCTOS = 'productos'
}

const cookies = Astro.request.headers.get('cookie')
const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('netlify-token='))
  .split('=')[1]

if (!token) {
  console.log('Token not found - redirect to admin')
  return Astro.redirect('/admin/login')
}

const { slug } = Astro.params
const [categorySlug, sectionSlug] = slug.toString().split('/')

console.log({ slug, categorySlug, sectionSlug })
const zones = slug === SECTIONS.ZONAS ? Object.entries(RESTAURANT.zones) : undefined
console.log({ zones })
---

<Admin>
  <h1 class="text-center">Zonas</h1>

  <Divider theme="dark" />
  <ButtonLinksContainer>
    {zones?.map(([key, zone]) => <ButtonLink href={`/admin/zonas/${key}`}>{zone.name}</ButtonLink>)}
  </ButtonLinksContainer>
</Admin>
