---
import Admin from '@components/Admin.astro'
import Divider from '@components/Divider.astro'

export function getStaticPaths() {
  return [{ params: { section: 'zonas' } }, { params: { section: 'secciones' } }, { params: { section: 'categorias' } }]
}

const cookies = Astro.request.headers.get('cookie')
const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('netlify-token='))
  .split('=')[1]

console.log({ token })

if (!token) {
  console.log('Token not found')
  return Astro.redirect('/admin')
}
---

<Admin>
  <h1 class="text-center">Zonas</h1>

  <Divider theme="dark" />
</Admin>
