---
import Admin from '@components/Admin.astro'
import Divider from '@components/Divider.astro'
import { RESTAURANT } from 'src/mock/auriga'

enum SECTIONS {
  ZONAS = 'zonas',
  CATEGORIAS = 'categorias',
  PRODUCTOS = 'productos'
}

const cookies = Astro.request.headers.get('cookie')
const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('netlify-token='))
  .split('=')[1]

if (!token) {
  console.log('Token not found - redirect to admin')
  return Astro.redirect('/admin')
}

const { section } = Astro.params
const zones = section === SECTIONS.ZONAS ? Object.values(RESTAURANT.zones) : undefined
---

<Admin>
  <h1 class="text-center">Zonas</h1>

  <Divider theme="dark" />

  {zones?.map((zone) => <div>{zone.name}</div>)}
</Admin>
