---
import Card from '@components/Card.astro'
import Netlify from '@components/Netlify'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Admin">
  <Netlify client:load />

  <Card>
    <h1>Admin</h1>
  </Card>
</Layout>
