---
import Card from '@components/Card.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Admin">
  <Card>
    <h1>Admin</h1>
  </Card>
</Layout>
<script is:inline>
  console.log('Open netlify')
  window.netlifyIdentity.open()
</script>
