---
import Admin from '@components/Admin.astro'
import ButtonLink from '@components/ButtonLink.astro'
import ButtonLinksContainer from '@components/ButtonLinksContainer.astro'
import CreateZone from '@components/CreateZone'
import Divider from '@components/Divider.astro'
import { getZones } from 'src/utils/supabase'

const cookies = Astro.request.headers.get('cookie')
const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('netlify-token='))
  .split('=')[1]

if (!token) return Astro.redirect('/admin/login')

const zones = await getZones({ restaurantId: 1 })
console.log({ zones })
---

<Admin>
  <div class="flex flex-col">
    <ButtonLinksContainer>
      {zones.map((zone) => <ButtonLink href={`/admin/${zone.slug}`}>{zone.name}</ButtonLink>)}

      <Divider theme="dark" />
    </ButtonLinksContainer>

    <CreateZone client:visible />
  </div>
</Admin>
