---
import Admin from '@components/Admin.astro'
import ButtonLink from '@components/ButtonLink.astro'
import ButtonLinksContainer from '@components/ButtonLinksContainer.astro'
import Divider from '@components/Divider.astro'

const cookies = Astro.request.headers.get('cookie')
const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('netlify-token='))
  .split('=')[1]

if (!token) return Astro.redirect('/admin/login')
---

<Admin>
  <div class="flex flex-col">
    <h1 class="text-center text-light-text">Administración</h1>

    <Divider theme="light" />

    <ButtonLinksContainer>
      <ButtonLink href="/admin/zonas">Zonas</ButtonLink>
      <ButtonLink href="/admin/secciones">Secciones</ButtonLink>
      <ButtonLink href="/admin/categorias">Categorías</ButtonLink>
    </ButtonLinksContainer>
  </div>
</Admin>
