---
import Admin from '@components/Admin.astro'
import ButtonLink from '@components/ButtonLink.astro'
import ButtonLinksContainer from '@components/ButtonLinksContainer.astro'
import Divider from '@components/Divider.astro'
import { RESTAURANT } from 'src/mock/auriga'

const cookies = Astro.request.headers.get('cookie')
const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('netlify-token='))
  .split('=')[1]

if (!token) return Astro.redirect('/admin/login')

const zones = RESTAURANT.zones
---

<Admin>
  <div class="flex flex-col">
    <ButtonLinksContainer>
      {Object.entries(zones).map(([key, zone]) => <ButtonLink href={`/admin/${key}`}>{zone.name}</ButtonLink>)}

      <Divider theme="light" />
      <ButtonLink href="#">CREAR</ButtonLink>
    </ButtonLinksContainer>
  </div>
</Admin>
