---
import Admin from '@components/Admin.astro'
import Divider from '@components/Divider.astro'
import SectionLink from '@components/SectionLink.astro'

const cookies = Astro.request.headers.get('cookie')
const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('netlify-token='))
  .split('=')[1]

console.log({ token })

if (!token) return Astro.redirect('/admin/login')
---

<Admin>
  <div class="flex flex-col">
    <h1 class="text-center text-light-text">Administración</h1>

    <Divider theme="light" />

    <div class="flex flex-col gap-4 items-center w-fit mx-auto">
      <SectionLink link="/admin/zonas" text="Zonas" />
      <SectionLink link="/admin/secciones" text="Secciones" />
      <SectionLink link="/admin/categorias" text="Categorías" />
    </div>
  </div>
</Admin>
