---
import Admin from '@components/Admin.astro'
---

<Admin>
  <button id="open-modal" class="text-light-text">Open Modal</button>
</Admin>

<script is:inline>
  console.log('login', window.netlifyIdentity)
  window.netlifyIdentity.open()

  document.getElementById('open-modal').addEventListener('click', () => {
    window.netlifyIdentity.open()
  })
</script>
