---
import Admin from '@components/Admin.astro'
import LineCard from '@components/admin/LineCard'
import Card from '@components/Card.astro'
import SetPasswordForm from '@components/SetPasswordForm'
---

<Admin>
  <div class="grid items-center mt-8">
    <LineCard client:visible label="Configuración de contraseña">
      <SetPasswordForm client:visible />
    </LineCard>
  </div>
</Admin>
